S3method(from_to,default)
S3method(from_to,list)
S3method(from_to,numeric)
S3method(indexify,default)
S3method(indexify,list)
S3method(indexify,numeric)
export(df_to_blocks)
export(dummy_to_list)
export(factor_to_dummy)
export(from_to)
export(funlist)
export(indexify)
export(lengths)
export(list_ones)
export(list_to_dummy)
export(list_to_matrix)
export(listify)
export(listsize)
export(matrix_to_blocks)
export(maxlist)
export(meanlist)
export(minlist)
export(prodlist)
export(sizelist)
export(sumlist)
export(vector_to_dummy)
